:root {
    --primary-color: #87e0a2;
    --secundary-color: #f5b078;
    --accent1-color: #49a8d4;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    font: var(--body-font);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmidia a {
    text-decoration: none;

}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secundary-color);
    color: black
}

.hero article {
    position: absolute;
    bottom: 10px;
    padding: 10px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secundary-color);

    color: black;
}

.hero article img {
    float: right;
    width: 125px;
    box-shadow: 10px gray;
}

h3 {
    background-color: var(--secundary-color);
    opacity: 0.9;
    text-align: center;
    color: black;
    padding: 15px;
    border-bottom: 2px solid white;
}

header {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    background-color:rgb(216, 226, 231);
    padding: 10px 30px;
    border-bottom: 1px solid black;
}

header img {
     padding: 10px 20px;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style: none;
}
nav ul li{
    margin: 0;
}
nav a {
    text-decoration: none;
    display: block;
    padding: 15px 10px;
    color:black ;
    font-weight: bold
}

.history-content {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 20px;
}

.history-content img {
    width: 200px;
}

.adventure-gallery {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.adventure-gallery figure {
    flex: 1;
    text-align: center;
}

.adventure-gallery img {
    width: 100%;
    height: auto;
}

footer {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    border-top: 1px solid #ccc;
    margin-top: 20px;
    color: black;
}

.socialmidia {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.socialmidia img {
    width: 35px;
    
}
.contact-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}
.map iframe{
    width: 100%;
    height: 350px;
}
.map{
    display: flex;
    align-items: center;
}
.contact-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f8f8f8;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea{
    width: 100%;
    
    box-sizing:border-box;
    
}
.radio-group{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}
.checkbox-group{
    display: flex;
    align-items: center;
    gap: 10px;
}
.contact-form button{
    padding: 10px;
    background-color: rgb(219, 216, 216);
    border-radius: .5rem;
    
}
h1, main > p{
    text-align: center;
    padding: 1px;
}
.contact-container h2{
    grid-column: 1/3;
    text-align: center;
    color: black;
    background-color: var(--secundary-color);
    width: 100%;
}
.contact-page h1{
    position: relative;
    top: 0px;
    width: 100%;
    padding: 5px;
    background-color: var(--secundary-color);
    opacity: 0.9;
    text-align: center;
    color: black;
  
}